@font-face {
	src: url('../font/agency-FB/SVN-Agency-FB-bold.ttf');
	font-family: agency-FB;
}
@font-face {
	src: url('../font/verdana/VerdanaBold.ttf');
	font-family: verdana;
}
@font-face {
	src: url('../font/dairy-Cattle-Solid/Dairy-Cattle-Solid.otf');
	font-family: Dairy-Cattle-Solid;
}
.bg{
	min-height: 100vh;
	background: url('../img/bg.png') center;
	background-size: 100% 100% ;
}
.bg-spin{
	background: url('../img/bgrd2.png') center;
	min-height: 100vh;
	background-size: 100% 100% ;
}
@media screen and (min-width: 2346px) {
  .bg{
	background-size: cover;
	background-repeat: no-repeat;
  }
  .bg-spin{
	background-size: cover;
	background-repeat: no-repeat;
  }
  .form{
  	width:460px;
  }
  
}
@media screen and (min-width: 1500px) {
  .form{
  	width: 530px;
  }
  .title-form-active{
  	font-size: 21px !important;
  }
}
@media screen and (max-width: 1300px) {
  .form{
  	width: 330px;
  }
}
@media screen and (max-width: 1600px) {
	.result{
	padding-top: 40px;
		width: 1366px;
}
  #numberRandom{
  letter-spacing: 175px !important;
   padding-top: 66px!important;
   font-size: 221px !important;
   height: 371px;
}
}
@media screen and (max-width: 1400px) {
  #numberRandom{
  	letter-spacing: 135px !important;
  	padding-top:93px !important;
	font-size: 174px !important;
	background-size: 100% !important;
	padding-left: 122px !important;
}
   .result{
   	width: 1108px !important;
   }
}

.form{
	margin-top: 201px;
	background: white;
	height: 492px;
	border-radius: 5px;
	text-align: center;
}
.btn-honda{
margin-top: 51px !important;
	height: 60px;
	transform: skew(-15deg);
	padding-top: 13px;
	text-align: center;
	margin: auto;
	font-size: 22px;
	font-family: verdana;
background: #d33733;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.unlilne-link{
	text-decoration: none !important;
	
}
.btn-sign-up{
	color: #ecd375;
	width: 242px;
	margin-left: -6px;
}
.btn-spin-bonus{
	color: white;
	width: 268px;
margin-left: 26px;
}

.title-form-active{
	text-align: center;
	font-family:verdana;
	padding-top: 32px;
	font-size: 24.5px;
	color:#810400;
}

.title-form{
	text-align: center;
	color: #7a9196;
	font-size: 16px;
	font-family:verdana;
}
.input{
	background: #ebebeb;
	height: 45px;
	border: none;
	width: 85%;
	background: #ebebeb;
	border-radius: 5px;
}
.outer-grow{
	color:#fff;
	text-shadow:2px 2px 15px rgba(255, 255, 255, 0.5), 2px 2px 15px #ccc;
	margin-top: 33px;
	letter-spacing: 3px;
	text-align:center;
	font-family: verdana;
}
.button2{
	background: #850c0d;
	width: 184px;
	height: 60px;
	font-size: 20px;
	border-radius: 5px;
	border: none;
	color: #ecd375;
	font-weight: bold;
	font-family: agency-FB;
	letter-spacing: 1px
}
.title-form-login{
    padding-top: 44px;
    font-family:verdana ;
    font-size: 24px;
}
.hr-login{
	background: #810400;
	width: 80%;
   margin-top: 30px;
}
.hr-active{
	background: #810400;
	width: 90%;
   
}
.btn-login{
	margin-top: 10px;
width: 90%;
  margin-top: 45px;
  letter-spacing: 6px;}.ramdon{
margin-top: 37px;
   width: 1548px;
   height: 395px;
   background-image: url(../img/random.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;

}
#numberRandom{
	font-size: 261px;
   color: #e01a00;
   letter-spacing: 152px;
    padding-left: 140px; 
   margin-top: 20px;
   font-family: Dairy-Cattle-Solid;
   background: url('../img/random.png') center;
   background-repeat: no-repeat;
	background-size: 100%;
}
.btn-random{
display: block;
   width: 494px;
   height: 131px;
   margin-top: 19px;
   font-size: 77px;
   color: #ecd375;
   padding: 6px 20px;
   border: 1;
   border-color: white;
   background: #850c0d;
   font-family: agency-FB;
   letter-spacing: 3px;
}

.result{
	padding-top: 40px;
		width: 1366px;
}
.results{
	margin-top: 193px;
}
.title-form-note{
	color: #7a9196;
	font-size: ;
	height: 60px;
}